# This probe type is for a Cartographer probe used directly as a virtual Z endstop
# rather than with an existing physical endstop. To use this configuration,
# you will need to manually add the Carto Klipper plugin!

##In order to get the cartographer probe working, follow the documentation at https://docs.cartographer3d.com/cartographer-probe/installation-and-setup/installation/klipper-configuation

[gcode_macro _USER_VARIABLES]
# We can declare an "inductive_virtual" probe type as it's pretty close to the Cartographer way of working and should just work!
variable_probe_type_enabled: "inductive_virtual"
variable_startprint_actions: "bed_soak", "extruder_preheating", "chamber_soak", "tilt_calib", "z_offset", "bedmesh", "extruder_heating", "purge", "clean", "primeline"
gcode:

# Beacon probe definition also include the probe management macro directly from here
[include ../../../macros/base/probing/generic_probe.cfg]

[stepper_z]
endstop_pin: probe:z_virtual_endstop
homing_retract_dist: 0

